<style>
  table, th, td {
    border: 1px solid black;
  }

  div {
    width: 840px;
    margin: auto;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  progress {
    width: 100%
  }
</style>

<div>
  <input type="button" value="getUsingEventSource()" (click)="getUsingEventSource()">
  <input type="button" value="getUsingSse()" (click)="getUsingSse()">
  <div *ngIf="!hideLoadingBar">
    <progress value="{{currentPage}}" max="{{totalPages}}">{{percentage}}%</progress>
  </div>
  <div *ngIf="hideLoadingBar">
    <span>Loading complete:</span>
  </div>
  <table>
    <thead>
      <th style="width:40px;">#</th>
      <th style="width:400px;">fieldOne</th>
      <th style="width:400px;">fieldTwo</th>
    </thead>
    <tr *ngFor="let element of elements; let i = index">
      <td>{{i+1}}</td>
      <td>{{element.elementFieldOne}}</td>
      <td>{{element.elementFieldTwo}}</td>
    </tr>
  </table>
</div>
